.slider-news__item {
    position: relative;
    width: $fullwidth;
    padding: $com-spacing-7 $zero;
    @media (max-width: 999px) {
        padding: $com-spacing-3 $zero;
    }
    .advertising-banner {
        position: absolute;
        max-width: 160px;
        top: $zero;
        display: $none;
        @media (min-width: 1900px) {
            display: block;
        }
        img {
            max-width: $fullwidth;
        }
        &.right {
            right: -132px;
        }
        &.left {
            left: -132px;
        }
    }
    .rowbox {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: $com-spacing-3;
        width: $fullwidth;
        @media (max-width: 999px) {
            display: block;
        }
    }
    .news-slider {
        .rowinner {
            display: grid;
            grid-template-columns: 1fr 50%;
            gap: $com-spacing-3;
            @media (max-width: 999px) {
                display: block;
            }
            .itemslider {
                overflow: hidden;
                .carousel {
                    &:hover {
                        .carousel-control-next {
                            right: $com-spacing-6;
                        }
                        .carousel-control-prev {
                            left: $com-spacing-6;
                        }
                    }
                    .carousel-item {
                        height: 454px;
                        border-radius: 5px;
                        overflow: hidden;
                        @media (max-width: 999px) {
                            height: 284px;
                        }
                        .photo {
                            display: block;
                            width: $fullwidth;
                            height: $fullwidth;
                            overflow: hidden;
                            img {
                                width: $fullwidth;
                                height: $fullwidth;
                                object-fit: cover;
                            }
                        }
                    }
                    .carousel-control-next,
                    .carousel-control-prev {
                        width: $auto;
                        height: 28px;
                        top: 50%;
                        opacity: 1;
                        margin-top: -24px;
                        @include transition(all 0.5s ease-in-out 0s);
                        @media (max-width: 991px) {
                            display: $none;
                        }
                        svg {
                            width: 28px;
                            height: 28px;
                            fill: $white;
                            @include transition(all 0.5s ease-in-out 0s);
                        }
                        &:hover {
                            svg {
                                fill: $blue;
                            }
                        }
                    }
                    .carousel-control-next {
                        right: -90px;
                    }
                    .carousel-control-prev {
                        left: -90px;
                        svg {
                            @include rotate(180deg);
                        }
                    }
                }
                .rownews {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: $com-spacing-3;
                    margin-top: $com-spacing-3;
                    @media (max-width: 550px) {
                        grid-template-columns: repeat(1, 1fr);
                    }
                    .smallitem {
                        padding: 29px $com-spacing-4;
                        @media (min-width: 1500px) {
                            padding: 40.2px $com-spacing-4;
                        }
                        @media (min-width: 1600px) {
                            padding: 39px $com-spacing-4;
                        }
                        .flextex {
                            .tagtext {
                                @media (max-width: 1199px) {
                                    display: none;
                                }
                                @media (max-width: 999px) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .itemscroll {
                @media (max-width: 999px) {
                    margin-top: $com-spacing-3;
                }
                .circle {
                    color: $blue;
                    font-size: 16px;
                    padding-right: $com-spacing-5;
                    &::before {
                        content: ' ';
                        position: absolute;
                        top: 5px;
                        right: $zero;
                        border: 1px solid $blue;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: $blue;
                        box-shadow: inset 0 0 0px 3px $white;
                    }
                }
                .listnews {
                    position: relative;
                    width: $fullwidth;
                    padding: $zero 22px $zero $com-spacing-9;
                    margin-top: $com-spacing-3;
                    height: 416px;
                    overflow: hidden;
                    overflow-y: scroll;
                    a {
                        position: relative;
                        display: block;
                        border-bottom: 1px solid #6D6D6D;
                        padding: $com-spacing-4 $zero;
                        margin-top: -1px;
                        &:first-child {
                            padding-top: $zero;
                            margin: $zero;
                            &::before {
                                top: $zero;
                            }
                        }
                        &:last-child {
                            margin-top: $zero;
                            padding-bottom: $zero;
                            border: $zero;
                        }
                        &::after {
                            content: ' ';
                            position: absolute;
                            top: $zero;
                            right: -16px;
                            width: 1px;
                            height: $fullwidth;
                            background: #6D6D6D;
                        }
                        &::before {
                            content: ' ';
                            position: absolute;
                            top: $com-spacing-4;
                            right: -19px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: $blue;
                            z-index: 1;
                        }
                        &:hover {
                            .title {
                                color: $blue;
                            }
                        }
                        .tag {
                            display: block;
                            color: $blue;
                            font-size: 12px;
                            font-weight: 700;
                            margin-bottom: $com-spacing-3;
                            line-height: 1;
                        }
                        .title {
                            color: $blak;
                            font-size: 17px;
                            font-weight: 400;
                        }
                        p {
                            color: #6D6D6D;
                            margin-top: $com-spacing-1;
                        }
                    }
                }
                .rownews {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: $com-spacing-3;
                    @media (max-width: 550px) {
                        grid-template-columns: repeat(1, 1fr);
                    }
                    .carditem {
                        margin-top: $com-spacing-3;
                    }
                }
            }
        }
    }
    .dialogues {
        @media (max-width: 999px) {
            max-width: 300px;
            margin: $com-spacing-3 auto $zero auto;
        }
        .application {
            position: relative;
            width: $fullwidth;
            height: 250px;
            background: #CFEBF8 url(../images/application.png) no-repeat bottom right;
            overflow: hidden;
            margin-bottom: $com-spacing-3;
            .logo {
                display: inline-block;
                text-align: center;
                width: $fullwidth;
                height: 1px;
                background: $blak;
                margin-top: $com-spacing-6;
                img {
                    margin-top: -28px;
                    padding: $zero $com-spacing-1;
                    max-width: 41px;
                    background: #CFEBF8;
                }
            }
            .title {
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                span {
                    font-weight: 700;
                }
            }
            .app-icons {
                @include flex;
                a {
                    margin: $zero $com-spacing-1;
                    img {
                        max-width: 65px;
                    }
                }
            }
            .photo {
                @include flex;
                margin-top: $com-spacing-3;
                img {
                    max-width: $fullwidth;
                }
            }
        }
        .articles-editor {
            position: relative;
            width: $fullwidth;
            margin-bottom: $com-spacing-3;
            .inner {
                display: inline-block;
                width: $fullwidth;
                background: #CFEBF8;
                .flex {
                    display: flex;
                    align-items: flex-start;
                    margin-top: $com-spacing-7;
                    padding: $zero $com-spacing-4 $zero $com-spacing-3;
                }
                .photo {
                    min-width: 108px;
                    max-width: 108px;
                    height: 166px;
                    margin-left: $com-spacing-6;
                    border-radius: $com-spacing-3 $com-spacing-3 $zero $com-spacing-3;
                    overflow: hidden;
                    img {
                        width: $fullwidth;
                        height: $fullwidth;
                        object-fit: cover;
                    }
                }
                .title {
                    display: block;
                    font-weight: 300;
                    line-height: 38px;
                    padding-right: $com-spacing-5;
                    &::before {
                        content: "";
                        position: absolute;
                        right: $zero;
                        top: $zero;
                        width: 15px;
                        height: 15px;
                        background: $blak;
                        border-radius: 50%;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        right: $com-spacing-2;
                        top: $zero;
                        width: 1px;
                        height: calc(100% - 8px);
                        background: $blak;
                    }
                    span {
                        font-weight: 700;
                    }
                }
                .name {
                    width: calc(100% - 16px);
                    padding: $com-spacing-1 $com-spacing-4;
                    text-align: $left;
                    color: $white;
                    background: $blue;
                    min-height: 38px;
                    margin: -37px $com-spacing-4 $zero $zero;
                }
            }
            .listarticles {
                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid $blue;
                    padding: $com-spacing-1 $zero;
                    .title {
                        font-size: 14px;
                        font-weight: 500;
                        &:hover {
                            color: $blue;
                        }
                    }
                    .date {
                        display: block;
                        line-height: 2;
                        font-size: 10px;
                        font-weight: 300;
                        color: #B9B9B9;
                    }
                    .sharing {
                        cursor: pointer;
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
        .interloc {
            position: relative;
            width: $fullwidth;
            background: #CFEBF8;
            border-bottom-left-radius: 50%;
            padding-top: $com-spacing-3;
            height: 196px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            @media (min-width: 1600px) {
                height: 202px;
            }
            @media (max-width: 999px) {
                height: auto;
            }
            .title {
                font-size: 24px;
                font-weight: 300;
                padding-right: 42px;
                &::before {
                    content: "";
                    position: absolute;
                    right: $com-spacing-5;
                    width: 15px;
                    height: 15px;
                    background: $blak;
                    border-radius: 50%;
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: $zero;
                    width: 25px;
                    height: 2px;
                    background: $blak;
                }
                span {
                    font-weight: 700;
                }
            }
            .photo {
                @include flex;
                margin-top: $com-spacing-5;
                img {
                    max-width: $fullwidth;
                }
            }
        }
    }
}

//////////////////////// End Slider
.news__item {
    position: relative;
    width: $fullwidth;
    padding: $com-spacing-7 $zero;
    @media (max-width: 999px) {
        padding: $com-spacing-3 $zero;
    }
    .rowbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $com-spacing-3;
        width: $fullwidth;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            .carousel {
                order: -1;
            }
        }
    }
    .carousel {
        overflow: hidden;
        &:hover {
            .carousel-control-next {
                right: $com-spacing-6;
            }
            .carousel-control-prev {
                left: $com-spacing-6;
            }
        }
        .carousel-inner {
            height: $fullwidth;
        }
        .carousel-item {
            height: $fullwidth;
            border-radius: 5px;
            overflow: hidden;
            @media (max-width: 999px) {
                height: 284px;
            }
            .photo {
                display: block;
                width: $fullwidth;
                height: $fullwidth;
                overflow: hidden;
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                }
            }
        }
        .carousel-control-next,
        .carousel-control-prev {
            width: $auto;
            height: 28px;
            top: 50%;
            opacity: 1;
            margin-top: -24px;
            @include transition(all 0.5s ease-in-out 0s);
            @media (max-width: 991px) {
                display: $none;
            }
            svg {
                width: 28px;
                height: 28px;
                fill: $white;
                @include transition(all 0.5s ease-in-out 0s);
            }
            &:hover {
                svg {
                    fill: $blue;
                }
            }
        }
        .carousel-control-next {
            right: -90px;
        }
        .carousel-control-prev {
            left: -90px;
            svg {
                @include rotate(180deg);
            }
        }
    }
    .numbered-news {
        margin: $zero;
        padding: $zero;
        li {
            position: relative;
            display: flex;
            align-items: center;
            width: $fullwidth;
            margin-bottom: $com-spacing-3;
            &:last-child {
                margin-bottom: $zero;
            }
            .photo {
                display: block;
                position: relative;
                min-width: 144px;
                max-width: 144px;
                height: 110px;
                overflow: hidden;
                background: $ofwhite;
                margin-left: $com-spacing-4;
                @media (max-width: 1199px) {
                    min-width: 120px;
                    max-width: 120px;
                }
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                }
            }
            .contant {
                @media (max-width: 1199px) {
                    display: flex;
                    justify-content: flex-end;
                    padding: 64px $com-spacing-2 $com-spacing-2 $com-spacing-2;
                    .tagtext {
                        line-height: 14px;
                        padding: $com-spacing-1 $com-spacing-2;
                    }
                }
            }
            .title {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 20px;
                font-weight: 500;
                color: #4A4A4A;
                @media (max-width: 1199px) {
                    font-size: 14px;
                }
                @media (max-width: 999px) {
                    -webkit-line-clamp: 3;
                }
                &:hover {
                    color: $blue;
                }
            }
            .date {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: #898989;
                margin-top: $com-spacing-2;
            }
        }
    }
}

.bartitle {
    display: flex;
    align-items: center;
    background: $white;
    padding: $zero !important;
    height: 68px;
    border-bottom: 1px solid #CACACA;
    &::before,
    &::after {
        content: "";
        position: absolute;
        right: $zero;
        top: $zero;
        width: 250px;
        height: $fullwidth;
        background: url(../images/bar1.png) no-repeat center center/cover;
        @include transition(all 0.5s ease-in-out 0s);
    }
    &::after {
        right: $auto;
        left: $zero;
        rotate: 180deg;
    }
    .container {
        display: flex;
        align-items: center;
    }
    // .title {
    //     color: $blue;
    // }
}